<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.iupui.cs.aharris.bmi"
        versionCode="10" 
        version   = "1.0.0">

    <name>PhoneGap Example</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="https://www.aharrisbooks.net" email="andy@aharrisbooks.net">
        Andy Harris 
    </author>
    
    <!-- my settings -->
    
    <gap:platform name="android" />
    <preference name="fullscreen" value="true" />
    <icon src="icon.png" />
    
    <preference name="permissions" value="none"/>

</widget>